<div class="row">
	<div class="col-sm-8">
<% unless @articles.nil?%>		
<% @articles.each do |a|%>

<div class="row">
	<div class="col-lg-12">
		<h1><%=link_to a.title, article_path(a)%></h1>
		<p class="lead">by <%= link_to a.user.email, user_articles_url(a.user_id)%></p>
		<hr>
		<p>
			<span class="glyphicon glyphicon-time"></span>
			 Posted on <%= a.created_at%>
		</p>
		
		<p class="lead"><%= truncate_html(a.body, length: 250, omission: '...')%></p>
		
		<%if user_signed_in? && current_user.id == a.user_id%>
		<p><%= link_to 'Edit', edit_article_path(a) %></p>
		<%end%>
	</div>
</div>
<% end %>
<% else %>
<h1>Nothing Found</h1>
<p>Ready to publish your first post?
	<%= link_to 'Get started here', new_article_path %>
</p>
<% end %>
</div>
	<div class="col-sm-3 col-sm-offset-1">
		<div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
			<% for row in @search.facet(:publish_month).rows %>
				<li>
				<% if params[:month].blank? %>
					<%= link_to row.value, :month => row.value %> (<%= row.count %>)
			  	<% else %>
					<strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
			  <% end %>
			  </li>
			 <% end %>
            </ol>
          </div>
	</div>
</div>