<div class="row">
	<div class="col-lg-8">
<% unless @articles.nil?%>		
<% @articles.each do |a|%>

<div class="row">
	<div class="col-lg-12">
		<h1><%=link_to a.title, article_path(a)%></h1>
		<p class="lead">by <%= a.user.email%></p>
		<hr>
		<p>
			<span class="glyphicon glyphicon-time"></span>
			 Posted on <%= a.created_at%>
		</p>
		
		<!--p class="lead"><%= truncate(a.body, length: 250, :escape => false){link_to "read more", article_path(a) }%></p-->
		
		<!--p class="lead"><%= raw a.body.truncate(200)%></p-->
		<p class="lead"><%= truncate_html(a.body, length: 250, omission: '...')%></p>
		
		<%if user_signed_in? && current_user.id == a.user_id%>
		<p><%= link_to 'Edit', edit_article_path(a) %></p>
		<%end%>
	</div>
</div>
<% end %>
<% else %>
<h1>Nothing Found</h1>
<p>Ready to publish your first post?
	<%= link_to 'Get started here', new_article_path %>
</p>
<% end %>
</div>
	<div class="col-lg-4">
	</div>
</div>